body {
  background-color: gray;
}

#unico_Id {
  color: blue;
}

.qualquer {
  color: green;
}

P {
  color: yellowgreen;
  /* display: inline; */
}

header {
  border: 1px solid purple;
  padding: 60px;
  margin-right: 190px;
  margin-left: 60px;
}

h1 {
  border: 1px solid green;
  height: 90px;

  display: inline;
}

#informacao_Id {
  display: inline;
}

#titulo_ID {
  /* padding-left: 60px; */
  padding: 30px;
}

span {
  display: block;
}